@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Bungee Inline";
  color: #0080ff;
}
.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
}
.navbar h1 {
  color: #0368f4;
}
.navbar .links {
  margin-left: auto;
  color: white;
  background-color: #f1356d;
  border-radius: 1px;

}
.navbar a {
  color: white;
  margin-left: 16px;
  text-decoration: none;
  padding: 1px;
}
.navbar a:hover {
  color: white;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/*listing family*/
.house-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.house-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.house  -preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
/* create new blog form */
.quote-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.quote-form label{
  text-align: left;
  display: block;
}
.quote-form input{
  width: 100%;
  color: rgb(0, 0, 0);
  margin-bottom: 10px 0;
}
.quote-form button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 1px;
  border-radius: 8px;
  cursor: pointer;
}
.rosas-houses  {
  background: black;

}
.rosas-houses list{
  color: rgb(255, 255, 255);
}
.dark {
  background-color: #333;
  color: #fff
}
.light{
  background-color: #fff;
  color: #333
}