@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Bungee Inline";
  color: #0368f4;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #760b3b;
}
.navbar h1 {
  color: #0368f4;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/*listing family*/
.house-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.house-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.house  -preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}